html{
  widows: 100%;
}
body{
  margin: 0;
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  min-width: 1226px;
  width: 100%;
  background-color: #ffffff;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.container{
  width: 1226px;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}

.site-topbar{
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  background-color: #333333;
  /* white-space: nowrap; */
  position: relative;
}
.site-topbar a{
  color: #b0b0b0;
}
.site-topbar .topbar-nav a:hover,
.site-topbar .topbar-info a:hover{
  color: #ffffff;
}
.site-topbar .topbar-nav a,
.site-topbar .topbar-info a{
  /* 可以把指针响应的范围上下增大 */
  display: inline-block;
}
.site-topbar .topbar-nav{
  float:left;
}
.sep{
  color: #424242;
  margin:0 3px;
}
.site-topbar .topbar-cart{
  float:right;
  width: 120px;
  background-color: #424242;
  text-align: center;
  margin-left: 15px;
  position: relative;
}
.site-topbar .topbar-cart .icon-cart{
  font-size: 12px;
}
.site-topbar .topbar-cart .cart-menu{
  position: absolute;
  right: 0;
  top:40px;
  color: #424242;
  margin: 0 auto;
  width: 316px;
  height: 0px;
  font-size: 0;
  line-height: 100px;
  box-shadow:0px 2px 10px rgba(0,0,0,0.15);
  z-index: 10;
  background-color: white;
}
.site-topbar .topbar-cart:hover{
  background-color: #ffffff;
  color: red;
}
.site-topbar .topbar-cart:hover a{
  color: #ff6700;
}
.site-topbar .topbar-cart:hover > .cart-menu{
  display: block;
  height: 100px;
  font-size: 12px;
  transition: height 0.3s;
  z-index: 10;
}
.site-topbar .topbar-info{
  float:right;
}



.home-right-bar{
  position:fixed;
  right:0;
  top:90px;
  width: 82px;
  height:450px;
  background-color: #ffffff;
  z-index: 999;
  /* border:1px solid #f5f5f5; */
}
.home-right-bar ul{
  padding: 0;
  margin:0;

}
.home-right-bar ul li{
  height:90px;
  border:1px solid #f5f5f5;
  box-sizing: border-box;
  text-align: center;
}
.home-right-bar ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #999999;
}
.home-right-bar ul li a:hover{
  color: #ff6700;
}
.home-right-bar ul li a i.iconfont{
  width: 100%;
  height: 40px;
  font-size:30px;
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
}
.home-right-bar ul li:nth-of-type(1) > div.hbr-first-content{
  border:1px solid #f5f5f5;
  position: absolute;
  right:90px;
  top:0;
  width: 130px;
  height:188px;
  background-color: #fff;
  text-align: center;
  display: none;
}
.home-right-bar ul li:nth-of-type(1) > div.hbr-first-content img{
  height:100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.home-right-bar ul li:nth-of-type(1) > div.hbr-first-content p{
  font-size: 14px;
  color: #757575;
  width: 70px;
  margin:0;
  padding: 0;
  margin-left:50%;
  transform: translate(-50%);
}
.home-right-bar ul li:nth-of-type(1) > a:hover + div.hbr-first-content{
  display: block;
}



.site-header{
  height:100px;
  position: relative;
  padding: 22px 0;
  box-sizing: border-box;
}
.site-header .header-logo{
  background-image: url('https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=292d6b0ca1345982d187edc06d9d5ac8/f2deb48f8c5494ee4eeff06121f5e0fe98257efd.jpg');
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  float:left;
}
/* .site-header .head-nav{
  display: flex;
} */
.site-header .head-nav ul.nav-list{
  /* display: flex; */
  float:left;
  /* display: inline-block; */
  list-style-type: none;
  margin: 0;
  height: 55px;
  line-height: 55px;
  padding:0;
  margin-left: 180px;
  /* width: 650px; */
  width: 511px;
  /* flex-wrap: nowrap; */
}
.site-header .head-nav ul.nav-list-two{
  float:left;
  /* display: inline-block; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 55px;
  line-height: 55px;
  width: 140px;
}
.site-header .head-nav ul.nav-list-two li{
  float:left;
  height:78px;
}
.site-header .head-nav li.nav-item{
  /* 注:inline-block和float都要 在li中设置，否则不能在同一行 */
  float:left;
  height:78px;
}
.site-header .head-nav li.nav-item > a{
  font-size: 16px;
  color: #333333;
  padding:10px;
}
.site-header .head-nav li.nav-item > a span{
  /* 能把鼠标选中后的背景高度降低至与字体高度一致 */
  display: inline-block;
}
.site-header .head-nav li.nav-item:hover > a{
  color: #ff6700;
}


/* hover下拉框 */
.site-header .head-nav ul.nav-list:hover li.nav-item div.item-children{
  border-top: 1px solid #e0e0e0;
  height: 230px;
  transition: height 0.3s 0.2s;
  box-shadow: 0px 3px 6px -5px rgba(0,0,0,0.15);
}

.site-header .head-nav ul.nav-list li.nav-item:hover > div.item-children{
  z-index: 30;
}


div.item-children{
  position: absolute;
  top:100px;
  left:0;
  width: 100%;
  /* height: 230px; */
  height:0;
  overflow: hidden;
  background-color: white;
  /* 鼠标离开时z-index延迟1s才变化，防止下拉框先变回最后一个ul才回退。 */
  z-index: 20;
  /* 必须写solid和颜色才有效果(下拉框回退时border-top一直保持) */
  border-top: 0px solid #e0e0e0;
  transition: height 0.3s 0.2s,z-index 1s 1s,
              border-top 0s 0.5s,box-shadow 0s 0.5s;
}

div.item-children div.item-children-img{
  width: 203px;
  height: 110px;
  border-right:1.5px solid #e0e0e0;

  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;

  position: absolute;
  top:30px;
}
div.item-children ul li:nth-child(6) div.item-children-img{
  border-right: none;
}

div.item-children ul{
  padding: 0;
  height:230px;
  overflow: hidden;
}
div.item-children ul li{
  float:left;
  width: 203px;
  height: 230px;
  margin: 0;
  padding: 0;
  position: relative;
}

div.item-children li a.title{
  position: absolute;
  top:140px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: black;
}
div.item-children span.price{
  margin: 0;
  position: absolute;
  top:160px;
  font-size: 12px;
  color: #ff6700;
  width: 100%;
  text-align: center;
}
span.flag{
  font-size: 12px;
  display:inline-block;
  border:1px solid;
  width: 60px;
  height: 18px;
  line-height:18px;
  position: absolute;
  /* 这个框不知道怎么跟上面重,因为已经overflow:hidden了 */
  /* top:-1px; */
  left:50%;
  transform: translate(-50%);
  text-align: center;
  color:#ff6700;
}



.search-box{
  float:right;
  height:60px;
}
.site-header input.search-text{
  float:right;
  width: 220px;
  height: 48px;
  position: relative;
  top:2px;
  border:1px solid #e0e0e0;
  padding: 0 10px;
}
.site-header input.search-button{
  float:right;
  width: 50px;
  height: 46px;
  position: relative;
  top:2px;
  border:1px solid #e0e0e0;
  border-left:0;
  text-align: center;
}

.search-box:hover > input.search-button,
.search-box:hover > input.search-text {
  border-color:#b0b0b0;
}
.site-header input.search-button:hover {
  background-color: #ff6700;
}


.home-hero-container{
  height:832px;

  margin-top: 78px;
  /* position: relative;
  top: 18px;
  clear: both; */

}
.home-hero-container .home-hero{
  height: 460px;
  background-color: gray;
}
.home-hero-container .home-hero .home-hero-categoryList{
  width: 234px;
  height: 460px;
  background-color: rgba(0,0,0,0.6);
  z-index: 15;

  /* 在上面的div全是浮动的情况下，导致margin合并，
  并且.home-hero-container设置了top,这时不加这个position，ul位置就乱了,

  原因是.home-hero-container先不加position: relative时，.home-hero-container上边框
  与浮动元素重合，ul被挤压变形，加position: relative后，.home-hero-container带着变形后
  的ul进行移动。

  解决办法:在浮动元素的下面div中清除浮动，加clear:both,不加这个position都是正常的 
  还可以给上面的div设置overflow:hidden,来闭合浮动*/

  /* 这个position: absolute;是为了给后面.category-children定位 */
  position: absolute;
}

.home-hero-container .home-hero-categoryList ul.categoryList{
  padding:20px 0;
  margin: 0;
  /* border:1px solid; */

}
.home-hero-container .home-hero-categoryList li.category-item{
  /* border:1px solid; */
  padding-left: 30px;
  /* cursor: pointer; */
}
.home-hero-container .home-hero-categoryList li.category-item:hover{
  background-color: #ff6700;
}
.home-hero-container .home-hero-categoryList li.category-item a{
  display: block;
  height:42px;
  line-height: 42px;
  color: #f7f7f7;
}
.home-hero-container .home-hero-categoryList li.category-item a i.icon-right-arrow-thick{
  float:right;
  margin-right:20px;
  color:rgba(255,255,255,0.5);
}


.home-hero-container .home-hero-categoryList li.category-item:hover > div.category-children{
  display: block;
}

.home-hero-container .category-children{
  height:458px;
  position: absolute;
  top:0;
  left:234px;
  background-color: #fff;
  /* float:left; */
  display:none;
  border:1px solid #e0e0e0;
  border-left:0;
  box-shadow: 2px 10px 3px 3px rgba(0,0,0,0.05);

  /* 使用Flex布局，把主轴方向设置为垂直方向。虽然这样商品竖着排列了，
  但是随着商品列数的增加，外层的容器并不会自动变宽,而以下属性可以解决这个问题,
  不加 flex-direction: column */
  /* 垂直方向自左而右的书写方式 */
  /* writing-mode: vertical-lr;  */
  /* 让文字直立显示，IE不支持，FireFox, Chrome支持 */
  /* text-orientation:upright; */
  /* 但后面图片后的文字还是垂直，不知道怎么改，暂时不用 */
}
.col-sum-1{
  width: 248px;
}
.col-sum-2{
  width: 496px;
}
.col-sum-3{
  width: 744px;
}
.col-sum-4{
  width: 992px;
}
.home-hero-container .category-children ul.col{
  padding:0;
  height:458px;
  float:left;
  width: 248px;

  /* cursor: pointer; */


  /* display:flex;
  flex-wrap: wrap; */
  
}
.home-hero-container .category-children ul.col li{
  width: 229px;
  height: calc(458px / 6);
  padding-left: 19px;
}
.home-hero-container .category-children ul.col li a{
  height:100%;
  line-height: calc(458px / 6);
  
}
.home-hero-container .category-children ul.col li a img{
  float:left;
  width: 40px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.home-hero-container .category-children ul.col li a span{
  padding-left: 13px;
  color: #333333;
}

.home-hero-container .home-hero-slider{
  width: 100%;
  height:100%;
  position: relative;

}

.home-hero-container .home-hero-slider a img{
  width: 100%;
  height:100%;
  position: absolute;
  left:0;
  z-index: 2;
  /* display: none; */
  opacity: 0.1;
  transition:  opacity 1.2s;

}
.home-hero-container .home-hero-slider input{
  position: absolute;
}
.home-hero-container .home-hero-slider input:checked + a > img{
  display: block;
  z-index: 10;
  opacity: 1;
  transition: opacity 1.2s;
}

.home-hero-container .home-hero-slider .ui-page-items{
  position: absolute;
  top:420px;
  right:30px;
  z-index: 12;
}
.home-hero-container .home-hero-slider .ui-page-items label{
  width: 6px;
  height: 6px;
  border: 2px solid #b8a8a1;
  background-color: #a58e85;
  border-radius:50px;
  float:left;
  margin: 0 5px;
}

/* hover高亮 */
.home-hero-container .home-hero-slider .ui-page-items label:hover{
  border-color: #949494;
  background-color: #ffe8df;
  cursor: pointer;
}

/* checked高亮 */
.home-hero-container .home-hero-slider input:nth-of-type(1):checked ~ div.ui-page-items label:nth-child(1){
  border-color: #949494;
  background-color: #ffe8df;
  cursor: pointer;
}
.home-hero-container .home-hero-slider input:nth-of-type(2):checked ~ div.ui-page-items label:nth-child(2){
  border-color: #949494;
  background-color: #f7f7f7;
  cursor: pointer;
}
.home-hero-container .home-hero-slider input:nth-of-type(3):checked ~ div.ui-page-items label:nth-child(3){
  border-color: #949494;
  background-color: #f7f7f7;
  cursor: pointer;
}
.home-hero-container .home-hero-slider input:nth-of-type(4):checked ~ div.ui-page-items label:nth-child(4){
  border-color: #949494;
  background-color: #f7f7f7;
  cursor: pointer;
}
.home-hero-container .home-hero-slider input:nth-of-type(5):checked ~ div.ui-page-items label:nth-child(5){
  border-color: #949494;
  background-color: #f7f7f7;
  cursor: pointer;
}



.home-hero-container .home-hero-slider .ui-direction a.ui-prev{
  position: absolute;
  left:234px;
  top:50%;
  transform: translateY(-50%);
  /* z-index要在10 input:checked+a>img到14 .home-hero-categoryList之间 */
  z-index: 12;
  width: 41px;
  height: 69px;
  line-height: 69px;
}
.home-hero-container .home-hero-slider .ui-direction a.ui-next{
  position: absolute;
  right:0px;
  top:50%;
  transform: translateY(-50%);
  z-index: 12;
  width: 41px;
  height: 69px;
  line-height: 69px;
  text-align: center;
}
.home-hero-container .home-hero-slider .ui-direction .icon-left-arrow,
.home-hero-container .home-hero-slider .ui-direction .icon-right-arrow{
  color: rgba(255,255,255,0.5);
  font-size: 38px;
}
.home-hero-container .home-hero-slider .ui-direction a:hover{
  background-color: rgba(0,0,0,0.4);
}
.home-hero-container .home-hero-slider .ui-direction a:hover > i.iconfont{
  color:#f1f2f6;
}


.home-hero-container .home-hero-sub{
  height:170px;
  margin-top:14px;
}
.home-hero-container .home-hero-sub .home-channel-list{
  width: 234px;
  height: 170px;
  background-color: #5f5750;
  float:left;
}
.home-hero-container .home-hero-sub .home-channel-list ul{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  
}
.home-hero-container .home-hero-sub .home-channel-list ul li{
  width: 78px;
  height: 50%;
  float:left;
  padding: 5px;
  box-sizing: border-box;
}
.home-hero-container .home-hero-sub .home-channel-list ul li a{
  display: block;
  color:#cfcdcb;
  font-size: 12px;
  height:45px;
  padding-top: 15px;

}
.home-hero-container .home-hero-sub .home-channel-list ul li a:hover{
  color:#ffffff;
}
.home-hero-container .home-hero-sub .home-channel-list ul li a i.iconfont{
  font-size: 26px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  display:block;
  margin-bottom: 3px;
}

.home-hero-container .home-hero-sub .home-promo-list{
  width: 978px;
  height: 100%;
  float:left;
  margin-left:14px;
}
.home-hero-container .home-hero-sub .home-promo-list ul{
  margin: 0;
  padding: 0;
  height:100%;
}
.home-hero-container .home-hero-sub .home-promo-list ul li{
  float:left;
  width: 316px;
  height:100%;
}
.home-hero-container .home-hero-sub .home-promo-list ul li:nth-of-type(2),
.home-hero-container .home-hero-sub .home-promo-list ul li:nth-of-type(3){
  margin-left:15px;
}
.home-hero-container .home-hero-sub .home-promo-list ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
.home-hero-container .home-hero-sub .home-promo-list ul li a img{
  width: 100%;
  height: 100%;
}

.home-hero-container .home-hero-banner{
  height: 120px;
  margin-top: 26px;
  /* margin-bottom: 35px; */
}
.home-hero-container .home-hero-banner a{
  width: 100%;
  height: 100%;
  display:block;
}
.home-hero-container .home-hero-banner a img{
  width: 100%;
  height: 100%;
}


.page-main{
  background-color: #f5f5f5;
  height: 5000px;
  padding-top:22px;
}
.page-main .page-main-phone{
  height: 1000px;

}
.page-main .box-top{
  height:58px;
}
.page-main .box-top .title{
  margin:0;
  font-size: 22px;
  font-weight: 200;
  color: #333;
  height:58px;
  line-height: 58px;
  float:left;
}
.page-main .box-top .view-all{
  /* width: 92px; */
  height: 58px;
  line-height: 58px;
  float:right;
}
.page-main .box-top .view-all a{
  font-size: 16px;
  color: #424242;
  transition: color 1s;
}
.page-main .box-top .view-all a:hover{
  color: #ff6700;
}
.page-main .box-top .view-all a i.iconfont{
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.page-main .box-middle{
  height:628px;
  /* float:left; */

}
.page-main .box-middle ul.brick-promo-list{
  margin: 0;
  padding:0;
  width: 234px;
  height:628px;
  background-color: lime;
  float:left;
}
.page-main .box-middle ul.brick-promo-list li.brick-item{
  width: 234px;
}
.page-main .box-middle ul.brick-promo-list li.brick-item a{
  width: 100%;
  height: 100%;
  display: block;
}
.page-main .box-middle ul.brick-promo-list li.brick-item a img{
  width: 100%;
  height: 100%;
}
.page-main .box-middle ul.brick-list{
  width:992px;
  height:628px;
  background-color: gray;
  padding:0;
  margin:0;
  float:left;
}
.page-main .box-middle ul.brick-list li{
  border:1px solid;
  box-sizing: border-box;
  width: 234px;
  height: 300px;
  margin-left:14px;
  margin-bottom:14px;
  float:left;
}
.page-main .box-middle li.brick-item-l{
  height: 614px;
}
.page-main .box-middle li.brick-item-m{
  height: 143px;
}
.page-main .box-middle li.brick-item-s{
  height: 143px;
}